@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 1% 5%;
  background-color: #f4f8f0;
  /* overflow-x: hidden; */
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
}

/* .................
navigation
................ */

.nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  position: relative;
  height: 10%;
  width: 100%;
}
nav .logo {
  width: 10%;
  
}
nav .logo img {
    height: 3vw;
    transform: rotate(-135deg);
    transition: all .5s ease-in;
}
nav ul {
    transition: all 1s ease-in;

  position: relative;
  justify-content: center;
  display: flex;
  width: 80%;
  height: 20%;
  /* background: #cc1212; */
}
nav ul li {
  position: relative;
  height: 95%;
  font-size: 2vh;
  font-weight: 600;
  width: 100%;
  margin-right: 12%;
  padding: 10% 20%;
  list-style: none;
  /* background: #c58383; */
}
button:hover {
  cursor: pointer;
  background: #c5f278;

}
nav .btn {
  height: 2%;
  width: 10%;
}
nav .btn button {
  width: 100%;
  height: 200%;
  text-transform: uppercase;
  padding: 10% 20%;
  font-weight: 600;
  border: 0.2vw solid #000;
  border-radius: 15vw;
  background-color: #f4f8f0;
  transition: all .2s ease-in;

}

/* .................
        hero
................ */
.hero {
  overflow-x: hidden;
  position: absolute;
  display: flex;
  height: 88%;
  width: 100%;
}

/* .................
        hero
        left
................ */

.hero .left {
  position: absolute;
  padding: 5% 0 5% 5%;
  height: 100%;
  width: 40%;
}

span {
  font-weight: 700;
  font-size: 0.8vw;
  margin: 5% 0;
  text-transform: uppercase;
}
p .top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5f278;
  border: 0.1vw solid #c5f278;
  border-radius: 0.47vw;
  height: 2vw;
  width: 7.6vw;
  transition: all .1s 1s ease-in;
}
.hero .left h1 {
    transition: all 2s ease-in;

  font-size: 4.5vw;
  line-height: 0.98; 
}
.hero .left h3 {
  margin: 1vw 0;
  color: #777873;
  line-height: 1;
  font-size: 2vw;
  transition: all 3s 2s ease-in;

}

.hero .left .twobtn {
  position: relative;
  display: flex;
  /* align-items: center; */
  /* justify-content: left; */
  text-align: center;
}
.hero .left .twobtn button {
  text-transform: uppercase;
  margin: 1.5vw 2vw 0 0;
  border-radius: 15vw;
  background-color: #f4f8f0;
  height: 3vw;
  width: 13vw;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.hero .left .twobtn .download {
  border: 0.2vw solid #000;
}
.hero .left .twobtn .watch {
  border: transparent;
  /* transition: all 2.5s 1s ease-in; */
  height: 3vw;
  width: 13vw;
}
i {
    transition: all 3s 2s ease-in;
  /* height: 1vw; */
  margin: 0vw 0.4vw;
  zoom: 110%;
}
/* .................
        hero
        right
................ */

.hero .right {
  padding: 0 5%;
  position: relative;
  left: 40%;
  width: 60%;
  height: 100%;
}
.bgclr {
  position: absolute;
  transition: all .2s 5s ease-in;

  height: 85%;
  width: 60%;
  left: 23%;
  top: 10%;
  background-color: #c5f278;
  border: 8% solid #c5f278;
  border-radius: 0.77vw;
  margin: 3%;
  
}
.hero .left .scroll p {
  position: absolute;
  bottom: 1%;
  left: 16%;
  margin: 0 1vw; 
  
}
.hero .left .scroll span img {
    position: absolute;
    height: 1vw;
    bottom: 1%;
    left: 13%;
    transition: all 1s ease-in;
}

/* .................
        hero
        right
        image
................ */

.right img {
    transition: all 1s ease-in; 
  /* position: absolute; */
  object-fit: cover;
  height: 65%;
  width: 37%;
  border-radius: 3.5%;
}

.imgone {
  position: absolute;

  left: 18%;
  top: 25%;
  transition: all 1s ease-in;

}
.imgone img {
  width: 40%;
}
.imgtwo {
  top: 5%;
  transition: all 1s ease-in;

  position: absolute;
  left: 42%;
}
